<%- include('../../fragments/header.ejs') %>

  <main>
    <h2>Lista komisji</h2>
    <table class="table-list">
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Liczba członków</th>
          <th>Poziom trudności</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        <% for (let comm of comms) { %>
        <tr>
          <td><%= comm.name %></td>
          <td><%= comm.members %></td>
          <td><%= comm.difficulty %></td>
          <td>
            <ul class="list-actions">
              <li>
                <a href="/committees/details/<%=comm._id%>" class="list-actions-button-details">Szczegóły</a>
              </li>
              <li>
                <a href="/committees/edit/<%=comm._id%>" class="list-actions-button-edit">Edytuj</a>
              </li>
              <li>
                <a href="/committees/delete/<%=comm._id%>" class="list-actions-button-delete">Usuń</a>
              </li>
            </ul>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <p><a href="/committees/add" class="button-add">Dodaj nową komisję</a></p>
  </main>

  <%- include('../../fragments/footer.ejs') %>