<%- include('../../fragments/header.ejs') %>

  <main>
    <h2>Lista rezultatów</h2>
    <table class="table-list">
      <thead>
        <tr>
          <th>Student</th>
          <th>Komisja</th>
          <th>Ocena</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        <% for (let result of results) { %>
        <tr>
          <td><%= result.student.firstName %> <%= result.student.lastName %></td>
          <td><%= result.committee.name %></td>
          <td><%= result.grade %></td>
          <td>
            <ul class="list-actions">
              <li>
                <a href="/results/details/<%=result._id%>" class="list-actions-button-details">Szczegóły</a>
              </li>
              <li>
                <a href="/results/edit/<%=result._id%>" class="list-actions-button-edit">Edytuj</a>
              </li>
              <li>
                <a href="/results/delete/<%=result._id%>" class="list-actions-button-delete">Usuń</a>
              </li>
            </ul>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <p><a href="results/add" class="button-add">Dodaj nowy rezultat</a></p>
  </main>

  <%- include('../../fragments/footer.ejs') %>