<%- include('../../fragments/header.ejs') %>

  <main>
    <h2>Lista studentów</h2>
    <table class="table-list">
      <thead>
        <tr>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>Indeks</th>
          <th>Kierunek</th>
          <th>Akcje</th>
        </tr>
      </thead>
      <tbody>
        <% for (let stud of studs) { %>
        <tr>
          <td><%= stud.firstName %></td>
          <td><%= stud.lastName %></td>
          <td><%= stud.index %></td>
          <td><%= stud.course %></td>
          <td>
            <ul class="list-actions">
              <li>
                <a href="/students/details/<%=stud._id%>" class="list-actions-button-details">Szczegóły</a>
              </li>
              <li>
                <a href="/students/edit/<%=stud._id%>" class="list-actions-button-edit">Edytuj</a>
              </li>
              <li>
                <a href="/students/delete/<%=stud._id%>" class="list-actions-button-delete">Usuń</a>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
        <% } %>
      </tbody>
    </table>
    <p><a href="/students/add" class="button-add">Dodaj nowego studenta</a></p>
  </main>

 <%- include('../../fragments/footer.ejs') %>